<div class="flex flex-row text-xs text-gray-500 dark:text-gray-400 items-center px-4 lg:px-6">
  <div class="w-full">
    &copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
    <span>{{ T "footer_credits" | safeHTML }}</span>
  </div>
  <div class="flex space-x-2 ">
    {{ with .Site.Menus.footer -}}
    {{ range $key, $value := . }}
        <div>
           <a class="" href="{{ $value.URL }}">{{ $value.Name }}</a> 	
        </div>
    {{ end }}
    {{ end }}
  </div>
</div>
