{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}

<header class="w-full sticky top-0 z-50 bg-gray-100 dark:bg-gray-800 border-b border-gray-200 dark:border-gray-700">
  <div class="px-4 py-2 lg:px-6">
    <div class="flex items-center justify-between ">      
      <div class="flex items-center space-x-2">
        <a href="{{ "" | relLangURL }}" {{ with $logoTitle }} title="{{ . }}" {{ end }} rel="home"
          class="flex items-center">
          {{ if .Site.Params.logo.image }}
          <img src="{{ .Site.Params.logo.image | relURL }}" alt="{{ $logoTitle }}" class="h-10 max-h-10 w-auto mr-2">
          {{ else }}
          <div class="flex flex-col leading-tight">
            <span class="text-xl font-bold text-gray-900 dark:text-gray-100">{{ $logoTitle }}</span>
          </div>
          {{ end }}
        </a>
      </div>

      <nav class="flex flex-wrap gap-4 text-sm">
        {{ partial "menu.html"  (dict "menuID" "main" "page" .) }}
      </nav>

      <div class="flex items-center space-x-4">  
          <div class="flex items-center border border-gray-600 rounded-full px-4 py-2">
        <i data-lucide="search" class="w-5 h-5 text-gray-400 mr-2"></i>
        <input id="searchInput" type="text" placeholder="Search..." aria-label="Search Articles"
          class="bg-transparent focus:outline-none text-sm text-gray-900 dark:text-white placeholder-gray-400" />                  
        <kbd id="search-shortcut" class="ml-3 text-xs font-mono text-gray-500 dark:text-gray-300 bg-gray-200 dark:bg-gray-700 px-2 py-0.5 rounded">
        
      </kbd>
      </div>
          <button id="theme-toggle"
            class="p-2 text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 transition-colors duration-200 cursor-pointer"
            aria-label="Toggle theme">
            <i id="theme-icon-light" data-lucide="sun" class="w-5 h-5 block dark:hidden"></i>
            <i id="theme-icon-dark" data-lucide="moon" class="w-5 h-5 hidden dark:block"></i>
          </button>
        </div>
    </div>    
  </div>
</header>