{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

<div class="flex items-center gap-4 text-sm text-gray-500 dark:text-gray-400 mb-6">
  <div class="flex items-center gap-1">
    {{- $words := $page.WordCount -}}
    {{- $wpm := 200 -}}
    {{- $minutes := div (add $words (sub $wpm 1)) $wpm -}}
    <i class="fas fa-clock"></i>
    {{- $minutes }} Mins read
  </div>

  {{ with $page.Date }}
    {{- $dateMachine := $page.Date | time.Format "2006-01-02T15:04:05-07:00" -}}
    {{- $dateHuman := $page.Date | time.Format ":date_long" -}}
    <div class="flex items-center gap-1">
      <i class="fas fa-calendar"></i>
      <time datetime="{{- $dateMachine -}}">{{- $dateHuman -}}</time>
    </div>
  {{ end }}

  <div class="flex items-center gap-1">
    {{- with $page.GetTerms $taxonomy }}
    <i class="fas fa-folder"></i>
    {{ range . }}
    <a href="{{ .RelPermalink }}" class=" text-xs font-medium transition 
         hover:border-transparent hover:bg-purple-600 hover:text-white active:bg-purple-700">
      {{ .LinkTitle }}
    </a>
    {{ end }}
    {{ end }}
  </div>
</div>