{{- $isSingle := .IsPage -}}
{{- $showToc := .Params.toc -}}

<div class="space-y-2">
    {{- range .Site.Params.sidebar.widgets -}}
        {{- if and (eq . "recent") (not $isSingle) -}}
            {{- partial "widgets/recent.html" . -}}
        {{- end -}}
        {{- if and (eq . "categories")  (not $isSingle) -}}
            {{- partial "widgets/categories.html" . -}}
        {{- end -}}
        {{- if and (eq . "tags") (not $isSingle) -}}
            {{- partial "widgets/tags.html" . -}}
        {{- end -}}
        {{- if and (eq . "social") (not $isSingle) -}}
            {{- partial "widgets/social.html" . -}}
        {{- end -}}
    {{- end -}}

    {{- if and $isSingle $showToc}}
        <div class="px-2">
            {{- partial "widgets/toc.html" . -}}
        </div>
    {{- end -}}
</div>


